body {
    background-color: #F5F5F5;
    background-image: url('images/neutralPattern.jpg');
    background-size: cover;
    font-family: Nunito, sans-serif;
}

h1 {
    color: #D35400;
    font-size: 24px;
}