body {
    background-color: #F5F5F5;
    background-image: url('images/neutralPattern.jpg');
    background-size: cover;
    font-family: Nunito, sans-serif;
}

figcaption p {
    font-size: 24px;
    font-weight: 700;
}